footer.footer 
    .footer__container
        .footer__items
            a.footer__item(href="#") 
                img(src="@img/image 1.png", alt="Google play")
            a.footer__item(href="#") 
                img(src="@img/image 2.png", alt="Apple Store")